@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: black;
}

.carousel-3d-slide {
  background-color: transparent !important;
  border: none !important;
  &.current {
    .app-slide-info {
      opacity: 1 !important;
      transform: translateY(340px);
    }
    .app-slide-duttar {
      opacity: 1 !important;
      transform: translateY(0px) !important;
    }
    .glasses {
      opacity: 1 !important;
      transform: translateY(171px) translateX(32px) rotate(-8deg) !important;
      transform-origin: center;
    }
  }
}
:root {
  --overlay-bg: black !important;
  --transition-duration: 0.35s;
}
